/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-border-box;
}

/* Mobile devices (Portrait) */
@media only screen and (max-width: 480px) {
    body {
        width: 350px;
        border: solid 2px red;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    header img {
        width: 200px;
    }
}

/* Mobile devices (Landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    /* styles for mobile devices in landscape mode */
}

/* Tablets and small desktops */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* styles for tablets and small desktops */
}

/* Medium screens, desktops and laptops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* styles for medium screens, desktops and laptops */
}

/* Large screens and high-resolution devices */
@media only screen and (min-width: 1200px) {
    body {
        display: flex;
        max-width: 100%;
        border: solid 2px;
    }

    #header {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    #header>#nav-left {
        width: 25%;
        display: flex;
        align-items: center;
        margin: 20px 20px;
    }

    #header>#nav-left>#btn-menu {
        border: none;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        margin-right: 20px;
    }

    #header>#nav-left>#btn-menu:hover {
        border: none;
        transition: all 1s ease-in-out;
        scale: 1.1;

    }

    #header>#nav-center {
        align-items: center;
        display: flex;
        width: 50%;
        justify-content: center;
        margin: 0 auto;
    }

    #header>#nav-center>#search {
        text-align: center;
        font-size: 16px;
        display: flex;
        width: 50%;
        height: 32px;
    }

    #header>#nav-center>#btn-search {
        height: 32px;
        border: none;
        background-color: white;
        cursor: pointer;
        margin-left: 20px;
    }

    @keyframes magnifying-glass {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(20deg);
        }

        100% {
            transform: rotate(0deg);
        }

    }

    #header>#nav-center>#btn-search:hover {
        animation: magnifying-glass 0.5s ease-in-out;
    }

    #header>#nav-right {
        width: 25%;
        display: flex;
        justify-content: end;
        margin-right: 20px;
        align-items: center;
    }


}